
 body{
    background-color: rgba(55, 55, 55);
  
   }
    table{
     margin: 0 auto;
     width: 1080px;
     font-family: 'Lucida Sans',  sans-serif;
     font-size: 15px;
     box-shadow: 0 0 20px rgba(0,0,0,0.15);
    }
   
    table#t1 tr:nth-child(even) {
      background-color:  whitesmoke;
     
    }
    table#t1 tr:nth-child(odd) {
      background-color: gray;
    }
  
    th{
        margin: 0 auto;
      background-color: rgba(255,104,92);
      color: white;
      padding: 15px;
    } 
  
    td{
      
      padding: 10px;
    }
  
    